<!DOCTYPE html>
<html ng-app="app1" ng-cloak>
<head>
  <meta charset="utf-8">
  <title>AngularJS Tutorial 3</title>
  <style media="screen">
  [ng\:cloak], [ng-cloak], .ng-cloak{
    display: none;
  }
  </style>
</head>
<body>

  <div class="" ng-controller="heroCtrl">
    <table>
      <thead>
        <tr>
          <th>Real Name</th>
          <th>Hero Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in hero">
          <td>{{item.realName}}</td>
          <td>
            {{item.heroName}}
          </td>
        </tr>
      </tbody>
    </table>

    <label for="">Start to Type Your Hero: </label>
    <input type="textbox" name="name" value="" ng-model="heroName"/>
    <br><br>
    <button type="button" name="button" ng-click="getHeroData()">Submit</button>
    <br><br>
    {{heroData}}
    <br><br>
  </div>

  <div class="" ng-controller="heroCtrl">

    <label for="">Hero Name: </label>
    <input type="text" name="name" value="" ng-model="heroName"/><br>
    <label for="">Real Name: </label>
    <input type="text" name="name" value="" ng-model="realName"/><br>
    <button type="button" name="button" ng-click="addHeroData(realName, heroName)">Add</button>

  </div>

  <div class="" ng-controller="mainCtrl as parent">

    <p>
      Name: {{parent.name}}
    </p>
    <p>
      Sound: {{parent.sound}}
    </p>
    <button type="button" name="button" ng-click="parent.animalClick()">
      Animal Data
    </button><br><br>
  </div>

  <div class="" ng-controller="dogCtrl as dog">

    <p>
      Name: {{dog.child.name}}
    </p>
    <p>
      Sound: {{dog.child.sound}}
    </p>
    <button type="button" name="button" ng-click="dog.child.animalClick()">
      Dog Data
    </button><br>
    <button type="button" name="button" ng-click="dog.child.dogData()">
      More Dog Data
    </button><br>
    <input type="text" name="name" value="" ng-model="dog.child.bark"/><br><br>
    <span>New Bark : {{dog.child.bark}} </span>
    <br><br>
  </div>

  <div class="" ng-controller="mainCtrl1">
    <label for="">Make Uppercase: </label>
    <input type="text" name="name" value="" ng-model="name">
    <p>
      Uppercase: {{name | uppercase}} <br>
      Lowercase: {{name | lowercase}}
    </p>
    <input type="text" name="name" value="" ng-model="money">
    <p>
      Currency: {{money | currency }}
    </p>
    <br><br>

    <ul>
      <li ng-repeat="student in student.gpas | filter:studentName | orderBy: '-gpa'">
        {{'Name: ' + student.name + ' GPA: ' + student.gpa}}
      </li>
    </ul>

    <p>
      Date 1: {{currDate | date: 'medium'}}
    </p>
    <p>
      Date 2: {{currDate | date:"MM/dd/yyyy 'at' h:mma"}}
    </p>

    <p>
      Default: {{randomStr}}
    </p>

    <p>
      10 Characters: {{randomStr|limitTo: 10}}
    </p>

    <!-- <p>
      <ul>
        <li ng-repeat="item in weather">
          {{item.day+': '}} {{item.rain | raining}}
        </li>
      </ul>
    </p> -->

    <p>
      <ul>
        <li ng-repeat="item in weather">
          {{item.day + " : "}} {{item.rain | raining}}
        </li>
      </ul>
    </p>

  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script type="text/javascript" src="E:/My Workspace/AngularJS_Workplace/Tut3/js/app.js"></script>
  <script type="text/javascript" src="E:/My Workspace/AngularJS_Workplace/Tut3/js/filters.js"></script>

</body>
</html>
